<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ServiceComponentsURLs.plist
   RSS Feed

   Created by Igor Vasilenko on 02/07/16.
   Copyright (c) 2016 Igor Vasilenko. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>GazetaRssURL</key>
        <string>NSURL(http://www.gazeta.ru/export/rss/lenta.xml)</string>
        <key>LentaRssURL</key>
        <string>NSURL(http://lenta.ru/rss)</string>
    </dict>
</plist>
